<style>
    .mySpan {
        font-size: large;
        color: white;
        font-weight: bold;
        padding-left: 20px;
    }
</style>
<!--功能区-->
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false"
                     style="width: 800px; height:580px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="toolbar" class="row tbRow">
                            <div class="col-xs-8 col-md-8">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default azure" onclick="forWard();"
                                            data-title="转发任务">
                                        <i class="glyphicon glyphicon-share-alt"></i> 转发
                                    </button>
                                    <button type="button" class="btn btn-default azure" onclick="showDetail();"
                                            data-title="查看详情">
                                        <i class="glyphicon glyphicon-eye-open"></i> 查看
                                    </button>
                                    <!--<button type="button" class="btn btn-default azure" onclick="startPm();"
                                            data-title="开始任务">
                                        <i class="glyphicon glyphicon-play-circle"></i> 开始任务
                                    </button>-->
                                </div>
                            </div>
                        </div>
                        <table id="simpledatatable">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--功能区结束-->
<!--查看窗口窗体开始-->
<div class="mydialog">
    <div id="lookUpModal">
        <div class="row">
            <div class="col-md-12">
                <form id="lookUpModal" class="form-horizontal form-bordered" role="form"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-9" align="center" style="margin: 5px">
                            <!--窗口上方留白-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNo"
                               class="col-sm-2 control-label no-padding-right">任务编号</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_no"
                                   id="pm_no">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">任务名称</label>
                        <div class="col-sm-9">
                            <input readonly="on"  class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_name"
                                      id="pm_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMobile"
                               class="col-sm-2 control-label no-padding-right">任务内容</label>
                        <div class="col-sm-9">
                            <textarea readonly="on"  class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;height:100px;color:#050505" name="pm_content"
                                      id="pm_content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">责任室</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505"
                                   name="pm_responsibilityRoom"
                                   id="pm_responsibilityRoom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAge"
                               class="col-sm-2 control-label no-padding-right">责任人</label>
                        <div class="col-sm-9">

                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505"
                                   name="pm_responsibilityPerson"
                                   id="pm_ResponsibilityPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus"
                               class="col-sm-2 control-label no-padding-right">开始时间</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_begin_date"
                                   id="pm_begin_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus"
                               class="col-sm-2 control-label no-padding-right">结束时间</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_end_date"
                                   id="pm_end_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus"
                               class="col-sm-2 control-label no-padding-right">提醒时间</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_remind_date"
                                   id="pm_remind_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">任务类型</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_type"
                                   id="pm_type">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">任务状态</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_status"
                                   id="pm_status">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">任务进度</label>
                        <div class="col-sm-9">
                            <div id="progress_bar_illidan" class="easyui-progressbar" style="width:400px;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">紧急程度</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_urgent_degree"
                                   id="pm_urgent_degree">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">任务附件</label>
                        <div class="col-sm-9">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">
                                    <a href="../../../public/static/file/test.xlsx" id="downURL" download="">下载附件文件</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">发送人</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_sendPerson"
                                   id="pm_sendPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">接收人</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_sendPerson"
                                   id="pm_sendPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName"
                               class="col-sm-2 control-label no-padding-right">任务备注</label>
                        <div class="col-sm-9">
                            <input readonly="on" type="text" class="easyui-validatebox form-control"
                                   data-options="required:true" style="width:100%;color:#050505" name="pm_remark"
                                   id="pm_remark">
                        </div>
                    </div>
                    <div class="col-sm-9" align="center" style="margin: 5px">
                        <!--窗口下方留白-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--查看窗口窗体结束-->
<!--用户组织model-->
<div id="UOModal" class="mydialog">
    <div id="userOrgModal">
        <div class="easyui-panel" style="padding:5px;">
            <ul id="userOrgTree" class="easyui-tree"></ul>
        </div>
    </div>
</div>
<!-- 结束 -->
<!--接收人-->
<div class="mydialog">
    <div id="receiveModal">
        <table id="receiveTable" width="100%;">

        </table>
    </div>
</div>
<!--结束-->
<script>
    $(document).ready(function () {
        $(function () {
            //数据表格加载区
            $('#simpledatatable').datagrid({
                url:'{{projcfg.appurl}}/api/pm/pm/que?status=0',
                method:'get',
                title:"待办事项",
                autoRowHeight: true,
                height:500,
                border:true,
                singleSelect:true,
                selectOnCheck:false,
                columns:[[
                    {field: '_id', checkbox: true},
                    {"field": "pm_name", "title": "任务名称", "width": 128,"sortable":true},
                    {"field": "pm_content", "title": "任务内容", "width": 145},
                    {"field": "pm_responsibilityRoom", "title": "责任室", "width": 90},
                    {"field": "pm_responsibilityPerson", "title": "责任人", "width": 90},
                    {"field": "pm_begin_date", "title": "开始时间", "width": 89,"sortable":true},
                    {"field": "pm_end_date", "title": "结束时间", "width": 89,"sortable":true},
                    {
                        "field": "pm_type", "title": "任务类型", "width": 80,
                        "formatter": function (data, rowData, rowIndex) {
                            switch (data) {
                                case '0':
                                    return '项目管理';
                                case '1':
                                    return '日程安排';
                                case '2':
                                    return '工作计划';
                            }
                        }
                    },
                    {
                        "field": "pm_speed_of_progress", "title": "任务进度", "width": 80,
                        "formatter": function (data, rowData, rowIndex) {
                            return data + '%';
                        }
                    },
                    {
                        "field": "pm_urgent_degree", "title": "紧急程度", "width": 80,
                        "formatter": function (data, rowData, rowIndex) {
                            switch (data) {
                                case '0':
                                    return '一般';
                                case '1':
                                    return '紧急';
                                case '2':
                                    return '非常紧急';
                            }
                        }
                    },
                    {"field": "pm_sendPerson", "title": "发送人", "width": 60},
                    {"field": "pm_receivePerson", "title": "接收人", "width": 100,"formatter":
                            function (data, rowData, rowIndex) {
                                var param = JSON.stringify(data);
                                return "<button type='button' class='btn btn-default' onclick='lookUp(" + param + ")' data-title='查看' ><i  class='glyphicon glyphicon-zoom-in' > 查看</i></button>";
                            }
                    }
                ]],
                onDblClickRow:function(rowIndex, rowData){
                    showDetail();
                },
                onLoadSuccess:function(json) {
                    if(!json.success) {
                        msgError(json.msg);
                    }
                },
                onLoadError:function() {
                    msgError('加载数据出现时发生错误,请稍候重试...');
                },
                pagination:true,
                loadMsg:'正在加载...'
            });
            var role_code = '{{currentUserRole.role_code}}';
            var org_code = '{{currentUser.user_org.org_code}}';
            var login_account = '{{currentUser.login_account}}';

            if (org_code != "000102" && login_account != "yangruofan") {
                if (role_code == "001" || role_code == "sysadmin" || role_code == "002" || role_code == "005" || role_code == "007") {
                    $('#org_codeSelectDiv').show();
                } else {
                    $('#org_codeSelectDiv').hide();
                    $('#activeCss').css({
                        "margin-left": "150px"
                    });
                }
            } else {
                $('#org_codeSelectDiv').show();
            }

        });
    });


    /**
     * 查看接收人
     * @returns {boolean}
     */
    function lookUp(vv) {
        var noRepeat={};
        receiveArr=[];
        //去掉重复数据
        for(var i=0;i<vv.length; i++){
            noRepeat[vv[i].name]=vv[i].name;
        }
        //遍历去重后的数据
        for(var i in noRepeat){
            receiveArr.push(noRepeat[i]);
        }
        $('#receiveTable').prepend('<ul class="list-group" >');
        for (var i=0;i<receiveArr.length; i++)
            $('#receiveTable').prepend('<li class="list-group-item" align="center">'+receiveArr[i]+'</li>');
        $('#receiveTable').append('</ul>');

        $('#receiveModal').show();
        //获取滚动条到顶部的垂直高度
        var scrollHei=$(document).scrollTop();
        $('#receiveModal').mydialog({
            title: '接收人',
            width: 200,
            height: 300,
            top:scrollHei+100,
            modal: true,
            myButtons: [
                {
                    text: '关闭',
                    btnCls: 'btn btn-danger',
                    handler: function () {
                        $('#receiveTable').empty();
                        $('#receiveModal').dialog('close');
                    }
                }
            ]
        });
    }
    /**
     * 开始一项任务
     * @returns {boolean}
     */
    function startPm() {
    var rows = $('#simpledatatable').datagrid('getChecked');
    if (rows.length != 1) {
        msgError('提示,请选择一条数据再进行修改');
        return false;
    }
    var id = rows[0]._id;
    $.ajax({
        url:'{{projcfg.appurl}}/api/pm/pm/startPm/'+id,
         type: 'get',
        success: function (data) {
            if (data.success) {
                msgSuccess(data.msg);
                $('#simpledatatable').datagrid('reload',{});
            }
            else {
                msgError(data.msg + ',错误代码:' + data.code);
            }
        }
    });
}

    /**
     * 转发一条任务
     * @param id
     */
    function getChecked(id,type) {

        var nodes = $('#userOrgTree').tree('getChecked');
        receiveObj=[];
        for (var i = 0; i < nodes.length; i++) {
            receiveObj.push({id:nodes[i].id,name:nodes[i].text});
        }
        receiveObj.push(type);

        $.ajax({
            url:'{{projcfg.appurl}}/api/pm/pm/forWard/'+id,
            type: 'POST',
            data:JSON.stringify(receiveObj),
            success: function (data) {
                if (data.success) {
                    msgSuccess(data.msg);
                    $('#userOrgModal').dialog('close');
                    $('#simpledatatable').datagrid('reload',{});
                }
                else {
                    $('#userOrgModal').dialog('close');
                    msgError(data.msg + ',错误代码:' + data.code);
                }
            }
        });

    }

    /**
     * 为转发页面提供数据支持
     * @returns {boolean}
     */
    function forWard() {
        var rows = $('#simpledatatable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行转发');
            return false;
        }
        var id = rows[0]._id;
        var type=rows[0].pm_type;
        $('#userOrgModal').show();
        $('#userOrgModal').mydialog({
            title: "任务发送",
            autoOpen: false,
            width: 600,
            height:200,
            top: 50,
            modal: true,
            myButtons: [
                {
                    text: '确定',
                    btnCls: 'btn btn-blue',
                    handler: function () {
                        getChecked(id,type);

                    }
                },
                {
                    text: '关闭',
                    btnCls: 'btn btn-danger',
                    handler: function () {
                        $('#userOrgModal').dialog('close');
                    }
                }
            ]
        });
        $('#userOrgTree').tree({
            onlyLeafCheck:true,
            animate: true,
            checkbox: true,
            method: 'get',
            url: '{{projcfg.appurl}}/api/pm/pm/getUserOrg/'+id,
            loadFilter: function (data) {
                return data.data;
            },
            onclick: function (node) {
                alert(node.info);
            }
        });

    }

    /**
     * 打开转发页面
     * @param id
     */
    function openPage(id) {
        $('#userOrgModal').show();
        $('#userOrgModal').mydialog({
            title: "任务发送",
            autoOpen: false,
            width: 600,
            height:200,
            top: 50,
            modal: true,
            myButtons: [
                {
                    text: '确定',
                    btnCls: 'btn btn-blue',
                    handler: function () {
                        getChecked(id);
                    }
                },
                {
                    text: '关闭',
                    btnCls: 'btn btn-danger',
                    handler: function () {

                        closeDialog();
                    }
                }
            ]
        });
    }
    /**
     * 查看一条数据
     * @returns {boolean}
     */
    function showDetail() {
        var rows = $('#simpledatatable').datagrid('getChecked');
        if (rows.length != 1) {
            msgError('提示,请选择一条数据再进行查看');
            return false;
        }
        var id = rows[0]._id;
        openPageForLookUp("查看数据", id);
        // 获取远程数据
        $.ajax({
            url: '{{projcfg.appurl}}/api/pm/pm/' + id,
            type: 'get',
            data: {},
            success: function (data) {
                if (data.success) {
                    var num = data.data[0].pm_speed_of_progress;
                    $('#lookUpModal').form('load', data.data[0]);
                    $('#progress_bar_illidan').progressbar('setValue', num);
                    $('#downURL').attr("href", '../../../public/static/file/' + data.data[0].pmd_enclosure);
                    $('#downURL').attr("download",data.data[0].pmd_enclosure);//下载文件名设置
                    var flag=false;
                    for(var ii in rows[0].pm_receivePerson){
                        if('{{currentUser._id}}' === rows[0].pm_receivePerson[ii].id)
                            flag=true;
                    }
                    if(flag&&rows[0].pm_type!=='0')
                        update_pm_user_status(id,rows[0].pm_type);
                    if(rows[0].pm_type==='0')
                        update_pm_user_status(id,rows[0].pm_type);
                }
                else {
                    msgError(data.msg + ',错误代码:' + data.code);
                }
            }
        });

    }
    /**
     * 修改当前通知任务的某个接收人的任务状态为完成
     * @returns {boolean}
     */
    function update_pm_user_status(pm_id,type) {
        $.ajax({
            url: '{{projcfg.appurl}}/api/pm/pm/updatePmUserStatus/' + pm_id,
            type: 'get',
            data: {pm_type:type},
            success: function (data) {
                if (data.success) {
                    msgSuccess(data.msg);
                    $('#simpledatatable').datagrid('reload',{});
                }
                else {
                    msgError(data.msg + ',错误代码:' + data.code);
                }
            }
        });
    }

    /**
     * 查看数据使用的窗口
     * @param title
     * @param value
     */
    function openPageForLookUp(title, value) {
        $('#lookUpModal').show();
        $('#lookUpModal').mydialog({
            title: title,
            autoOpen: false,
            width: 600,
            height: 900,
            top: 50,
            modal: true,
            myButtons: [
                {
                    text: '关闭',
                    btnCls: 'btn btn-danger',
                    handler: function () {
                        $('#lookUpModal').dialog('close');
                        $('#simpledatatable').datagrid('reload',{});
                    }
                }
            ]
        });
    }

    /**
     * 关闭窗口
     */
    function closeDialog() {
        $('#userOrgModal').dialog('close');
        clear();
    }
</script>